.App {
  text-align: center;
}

.taskboard {
  text-align: center;
  margin: 5% auto;
  width: 700px;
  background-color: rgba(255, 255, 255, 0.171);
  border-radius: 10px;
  padding: 40px 0;
}

#addTaskButton,
#unhideButton {
  margin: 0 5px;
  border-radius: 200px;
  border: none;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

#addTaskButton {
  background-color: rgba(8, 104, 28, 0.5);
}

#unhideButton {
  background-color: rgba(42, 155, 163, 0.5);
}

.totalTimer {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}

.appIcon {
  height: 13px;
}
