.taskInactive,
.taskActive {
  padding: 5px;
  margin: 15px auto;
  width: 80%;
  min-width: 100px;
  height: 40px;
  border-radius: 100px;
}

.taskActive {
  background-color: rgba(51, 49, 28, 0.75);
}

.taskInactive {
  background-color: rgba(28, 51, 45, 0.5);
}

.stopwatch,
.delete {
  height: 100%;
  border-radius: 200px;
  border-color: black;
  color: white;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}

.stopwatch {
  width: 100px;
  background-color: rgba(28, 51, 45, 0.5);
  margin-right: 30px;
  margin-left: 70px;
}

.delete {
  width: 40px;
  background-color: rgba(29, 7, 21, 0.5);
}
