.taskBase,
.taskInactive,
.taskActive {
  border-radius: 12px;
  border: none;
  height: 40px;
}

.taskBase {
  margin: 40px auto 20px;
  width: 548px;
  background-color: rgb(41, 85, 78);
}

.taskActive,
.taskInactive {
  display: block;
  padding: 8px;
}

.taskActive {
  background-color: rgb(17, 160, 136);
  transform: translateY(-16px);
}

.taskInactive {
  background-color: rgb(52, 107, 98);
  transform: translateY(-24px);
}

.description {
  height: 82%;
  padding-left: 10px;
  border: none;
  border-radius: 10px;
  border-color: #000000;
  color: rgb(52, 107, 98);
  font-weight: bold;
  font-size: large;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.85);
}

.stopwatch {
  min-width: 130px;
  background-color: rgba(28, 51, 45, 0.5);
  margin-right: 20px;
  margin-left: 20px;
  height: 100%;
  border-radius: 12px;
  border: none;
  font-weight: bold;
  font-size: large;
}

.delete,
.reset,
.stopstart {
  height: 30px;
  border-radius: 12px;
  color: white;
  border: none;
  cursor: pointer;
}

.stopstart {
  width: 70px;
  font-weight: bold;
  font-size: 14px;
  background-color: rgba(127, 199, 164, 0.4);
}

.delete,
.reset {
  width: 30px;
  margin-right: 6px;
  background-color: rgba(248, 248, 248, 0.281);
}

.butIcon {
  position: relative;
  top: 1px;
  height: 12px;
}
