.App {
  text-align: center;
}

.taskboard {
  text-align: center;
  margin: 5% auto;
  width: 70%;
}

#addTaskButton {
  width: 50px;
  background-color: rgba(8, 104, 28, 0.5);
  height: 100%;
  border-radius: 200px;
  border-color: black;
  color: white;
  font-weight: bold;
  font-size: 40px;
  cursor: pointer;
}
