.App {
  text-align: center;
}

.taskboard {
  text-align: center;
  margin: 5% auto;
  width: 70%;
}

#addTaskButton,
#unhideButton {
  width: 50px;
  height: 100%;
  margin: 0 5px;
  border-radius: 200px;
  border-color: black;
  font-weight: bold;
  font-size: 40px;
  cursor: pointer;
}

#addTaskButton {
  color: white;
  background-color: rgba(8, 104, 28, 0.5);
}

.unhideActive {
  color: white;
  background-color: rgba(155, 163, 42, 0.5);
}

.unhideInactive {
  color: rgb(110, 219, 201);
  background-color: rgb(179, 226, 209);
}

.pushable {
  background: rgb(26, 36, 27);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}
